@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "regular";
  src: local("Montserrat"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "medium";
  src: local("Montserrat"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "semibold";
  src: local("Montserrat"),
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: local("Montserrat"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "black";
  src: local("Montserrat"),
    url("../fonts/Montserrat-Black.ttf") format("truetype");
}

.customDropShadow {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
}

.grosvenor-bg {
  background-image: url("../images/grosvenor.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
